.footer img{
    width: 11.3%;
    height: 120px;
}
.footer{
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 120px;
}
.btnC{
    float: right;
    margin: 30px;
    border: none;
    background: none;
    color: black;
}
.Contact{
     
    position: absolute;
    background-color: white;
    top: 70%;
    right: 5%;
    border-radius: 15px;
}
#teste{
    background-color: black;
    height: 1px;
}
.padding{
  padding: 5px;
}

