<app-header></app-header>
<section id="Main">
    <section class = "formigas inline"  [ngClass]="toogle[0]">
      <div id= "formiga1"></div>

    </section>
    <section  class = "formigas inline"  [ngClass]="toogle[0]" >
        <div id = "formiga2"></div>

    </section>
    <section  class = "formigas inline"  [ngClass]="toogle[0]" >
      <div id = "formiga3"></div>

  </section>
  <section  class = "formigas inline"  [ngClass]="toogle[0]" >
    <div id = "formiga4"></div>

</section>
    <section class = "formigas inline"  [ngClass]="toogle[0]" >
        <div id = "formiga5"></div>

    </section>
</section>






<app-footer></app-footer>
